<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6e7dd094b6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <li>
        <%= link_to  '/top', class: "text-light" do %>
        <i class="fa-solid fa-house-chimney"> Home </i>
        <% end %>
      </li>
      <li>
        <%#= link_to 'users/#{:id}', class: "text-light" do %>
        <i class="fa-solid fa-users"> Users </i>
        <%# end %>
      </li>
      <li>
        <%#= link_to '/books', class: "text-light" do %>
        <i class="fa-solid fa-book-open"> Books </i>
        <%# end %>
      </li>
      <li>
        <%= link_to  destroy_user_session_path, class: "text-light" do %>
        <i class="fa-solid fa-right-from-bracket"> Log out </i>
        <% end %>
      </li>

      <% else %>
      <li>
        <%#= link_to  '/top', class: "text-light" do %>
        <i class="fa-solid fa-house-chimney"> Home </i>
        <%# end %>
      </li>
      <li>
        <%= link_to 'home/about', class: "text_light" do %>
        <i class="fa-light fa-link"> About </i>
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path, class: "text-light" do %>
        <i class="fa-light fa-user-plus"> Sign up </i>
        <% end %>
      </li>
      <li>
        <%= link_to  new_user_session_path, class: "text-light" do %>
        <i class="fa-light fa-right-to-bracket"> Log in </i>
        <% end %>
      </li>
    <% end %>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
